.component {
  padding: 15px;
}

.form-container {
  input {
    width: 80%;
  }
  * {
    margin: 0 10px;
  }
}

.result-container {
  > * {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .result-link {
    display: block;
  }
}
