<div class="component">
  <div class="form-container">
    <form (ngSubmit)="submitForm()" [formGroup]="form" >
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="enter url"
          formControlName="url"
          required
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  <div class="result-container" *ngIf="generatedResult">
    <span>original url: </span> <a [href]="generatedResult.originalUrl" target="_blank">{{generatedResult.originalUrl}}</a>
    <br>
    <span>shronk url: </span> <a [href]="generatedResult.shortUrl">{{generatedResult.shortUrl}}</a>
  </div>
</div>
